services:
  minestudio:
    image: minestudio
    stdin_open: true
    tty: true
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    ipc: host
    ulimits:
      memlock:
        soft: -1
        hard: -1
      stack:
        soft: 67108864
        hard: 67108864
    volumes:
      - ./workspace:/workspace
      - ./datasets:/workspace/datasets
      - ./checkpoints:/workspace/checkpoints
      - ./outputs:/workspace/outputs
      - ./minestudio_runs:/workspace/minestudio_runs
      - ./minestudio_db:/workspace/minestudio_db
      - E:/hf_cache:/hf_cache
      - ./.vscode-server:/workspace/.vscode-server
    working_dir: /workspace
    environment:
      - HF_HOME=/hf_cache
      - HF_DATASETS_CACHE=/hf_cache/datasets
      - HF_HUB_CACHE=/hf_cache/hub
      - HF_TOKEN=${HF_TOKEN}
      - HF_HUB_DOWNLOAD_TIMEOUT=60
      - MINESTUDIO_SAVE_DIR=./workspace/minestudio_runs
      - MINESTUDIO_DATABASE_DIR=./workspace/minestudio_db
    command: sleep infinity
