services:
  minestudio:
    image: minestudio
    stdin_open: true
    tty: true
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    ipc: host
    ulimits:
      memlock:
        soft: -1
        hard: -1
      stack:
        soft: 67108864
        hard: 67108864
    volumes:
      - ./workspace:/workspace
      - ./datasets:/workspace/datasets
      - ./checkpoints:/workspace/checkpoints
      - ./outputs:/workspace/outputs
      - ./huggingface_cache:/root/.cache/huggingface/hub
      - ./minestudio_runs:/workspace/minestudio_runs
      - ./minestudio_db:/workspace/minestudio_db
    working_dir: /workspace
    environment:
      - HF_HOME=/root/.cache/huggingface/hub
      - MINESTUDIO_SAVE_DIR=./workspace/minestudio_runs
      - MINESTUDIO_DATABASE_DIR=./workspace/minestudio_db
    command: sleep infinity
